/bin/
coverage.out

# Written by the end-to-end test when it runs outside CI.
/test/e2e/.pnpm-store/
/test/e2e/fixture-out/
/test/e2e/packages_npm.tar.gz
/test/e2e/project/node_modules/
/test/e2e/project/pnpm-lock.yaml
